<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aia.gdp.mapper.JobDefMapper">
    <select id="selectByJobCode" resultType="com.aia.gdp.model.JobDef">
        SELECT * FROM job_def WHERE job_code = #{jobCode}
    </select>
    <select id="selectByJobGroupOrder" resultType="com.aia.gdp.model.JobDef">
        SELECT * FROM job_def WHERE job_group = #{jobGroup} AND status='ACTIVE' ORDER BY group_order, job_order
    </select>
    <select id="selectAll" resultType="com.aia.gdp.model.JobDef">
        SELECT * FROM job_def
    </select>
    <select id="selectById" resultType="com.aia.gdp.model.JobDef">
        SELECT * FROM job_def WHERE job_id = #{jobId}
    </select>
    <insert id="insert" parameterType="com.aia.gdp.model.JobDef" useGeneratedKeys="true" keyProperty="jobId">
        INSERT INTO job_def (job_code, job_name, job_group, job_order, group_order, proc_name, job_type, job_params, schedule_time, status, timeout_sec, retry_count, notify_email, is_depend, is_active, last_run_time, next_run_time, create_time, update_time)
        VALUES (#{jobCode}, #{jobName}, #{jobGroup}, #{jobOrder}, #{groupOrder}, #{procName}, #{jobType}, #{jobParams}, #{scheduleTime}, #{status}, #{timeoutSec}, #{retryCount}, #{notifyEmail}, #{isDepend}, #{isActive}, #{lastRunTime}, #{nextRunTime}, #{createTime}, #{updateTime})
    </insert>
    <update id="update" parameterType="com.aia.gdp.model.JobDef">
        UPDATE job_def SET
            job_code=#{jobCode}, job_name=#{jobName}, job_group=#{jobGroup}, job_order=#{jobOrder}, group_order=#{groupOrder},
            proc_name=#{procName}, job_type=#{jobType}, job_params=#{jobParams}, schedule_time=#{scheduleTime}, status=#{status}, timeout_sec=#{timeoutSec},
            retry_count=#{retryCount}, notify_email=#{notifyEmail}, is_depend=#{isDepend}, is_active=#{isActive},
            last_run_time=#{lastRunTime}, next_run_time=#{nextRunTime}, create_time=#{createTime}, update_time=#{updateTime}
        WHERE job_id=#{jobId}
    </update>
    <delete id="deleteById">
        DELETE FROM job_def WHERE job_id = #{jobId}
    </delete>
</mapper> 